torch=2.10.0
numpy
Pillow
triton>=2.1.0
torchvision
huggingface_hub
pytz
typed-argument-parser
tqdm
transformers>=4.30.0
diffusers
einops
omegaconf
ftfy
pandas
scipy
scikit-image
scikit-video
requests
beautifulsoup4